html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
header::after,
article::after {
        content: "";
        display: table;
        clear: both;
}
.leftheader {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    float: left;
    width: 50%;
    margin-top: 3.75rem;
    padding-left: 0.5rem;
}
.rightheader h1 {
    margin: 0;
    color: #DA0090;
    font-size: 3em;
}
.rightheader p {
    margin-top: -0.5rem;
}
nav {
    border-bottom: 1px solid #A61F11;
    border-top: 1px solid #DA0090;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #73352E;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:hover {
    background-color: black;
    color: #84DE37
}
article {
    margin: 2rem 0;
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
section {
    border-bottom: 1px solid #DA0090;
    margin-bottom: 0.3rem;
}
footer {
    padding: 1rem 0 3rem 0;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #A61F11;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
}