html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	width: 600px;
	margin: 0 auto;
	padding: 1em;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
fieldset {
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}
label {
	display: block;
}
input:not([type="radio"]):not([type="checkbox"]), 
textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
button {
	margin: 2rem 0;
}












