.main-card {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
  background-image: url(/layout/postIT_bg.png);
  background-size: 60px;
  box-shadow: 0px 10px rgba(69, 207, 161, 0.5);
}

.lesson-title {
  font-size: 32px;
  padding: 25px 30px 2px 30px;
  font-family: "PosterizerKGRough", "Courier New", Courier, monospace;
  color: #2c2825;
  text-align: center;
}

.lesson-content {
  padding: 0 15px 15px 15px;
  color: #2c2825;
}

.lesson-content a {
  color: #923a21;
  padding-left: 5px;
}
