* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.frame {
  height: 762px;
  width: 762px;
  position: relative;
}

.inner {
  position: relative;
}

.game {
  width: 628px;
  height: 577px;
  position: absolute;
  top: 62px;
  left: 67px;
}

.game.night {
  width: 716px;
  top: 62px;
  left: -19px;
}

.fox {
  position: absolute;
  top: 336px;
  left: 285px;
  overflow: hidden;
}

.fox-pooping {
  top: 319px;
  left: 159px;
}

.fox-celebrate {
  top: 290px;
  left: 290px;
}

.fox-rain {
  top: 362px;
}

.fox-hungry {
  top: 362px;
}

.fox-eating {
  top: 362px;
}

.fox-egg {
  top: 289px;
  left: 248px;
}

.fox-sleep {
  top: 351px;
  left: 445px;
}

.fox-dead {
  top: 380px;
  left: 243px;
}

.hidden {
  display: none;
}

.buttons {
  position: absolute;
  top: 674px;
  left: 266px;
  height: 71px;
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  position: absolute;
  top: 572px;
  left: 194px;
  height: 67px;
  width: 374px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poop-bag {
  position: absolute;
  top: 300px;
  left: 160px;
}

.modal-inner {
  background-color: blueviolet;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal:empty {
  display: none;
}

.modal-inner:empty {
  display: none;
}
